.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-profile {

    & .dropdown-menu {
    width: 230px;
    padding: 25px;
    border-color: rgba(131, 146, 165, 0.27);
    box-shadow: 0 0 8px 2px rgba(28, 39, 60, 0.04);
    padding: 5px;
    position: absolute;
    background-color: #fff;
    padding: 20px 25px;
    border: 1px solid rgba(192, 204, 218, 0.53);
    margin-top: 0;
    margin-left: 0;
    border-radius: 0.25rem;
    }
    & .dropdown-menu.dropdown-menu-right {
        margin-top: 2px;
        margin-right: -10px;
        &::before {
            right: 25px;
        }
        &::after {
            right: 26px;
        }
    }
}