<div id="registerform" class="pd-t-10 wd-100p">
  <h4 class="tx-color-01 mg-b-5">Create New Account</h4>
  <p class="tx-color-03 tx-16 mg-b-40">
    It's free to signup and only takes a minute.
  </p>

  <div class="form-group">
    <label>Email address</label>
    <input
      type="email"
      class="form-control"
      placeholder="Enter your email address"
    />
  </div>
  <div class="form-group">
    <div class="d-flex justify-content-between mg-b-5">
      <label class="mg-b-0-f">Password</label>
    </div>
    <input
      type="password"
      class="form-control"
      placeholder="Enter your password"
    />
  </div>
  <div class="form-group">
    <label>Firstname</label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter your firstname"
    />
  </div>
  <div class="form-group">
    <label>Lastname</label>
    <input type="text" class="form-control" placeholder="Enter your lastname" />
  </div>
  <div class="form-group tx-12">
    By clicking <strong>Create an account</strong> below, you agree to our terms
    of service and privacy statement.
  </div>
  <!-- form-group -->

  <button class="btn btn-brand-02 btn-block">Create Account</button>
  <div class="divider-text">or</div>
  <button class="btn btn-outline-facebook btn-block">
    Sign Up With Facebook
  </button>
  <button class="btn btn-outline-twitter btn-block">
    Sign Up With Twitter
  </button>
  <div class="tx-13 mg-t-20 tx-center">
    Already have an account? <a routerLink="/auth/login">Sign In</a>
  </div>
</div>
