<div class="content bd-b">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <breadcrumbs addStyle="breadcrumb-style1"></breadcrumbs>
        <h4 class="mg-b-5">Product Management</h4>
        <p class="mg-b-0 tx-color-03">
          Modify product database.
        </p>
      </div>
      <div class="search-form mg-t-20 mg-sm-t-0">
        <input type="search" class="form-control" placeholder="Search topic" />
        <button class="btn" type="button">
          <i-feather name="search"></i-feather>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- content -->
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-9 pd-t-10">
        <prodmgr-list></prodmgr-list>
      </div>
      <div class="col-3">
        <fieldset class="form-fieldset">
          <legend>STATISTICS</legend>
        </fieldset>
      </div>
    </div>
  </div>
</div>
