<div class="content bd-b">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <breadcrumbs addStyle="breadcrumb-style1"></breadcrumbs>
        <h4 class="mg-b-5">Product Detail Editor</h4>
        <p class="mg-b-0 tx-color-03">
          Edit this product.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- content -->
<div class="content">
  <div class="container">
    <product-form></product-form>
  </div>
</div>
